.heroe_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.ow_logo {
  height: 9vh;
}

.dojo_logo {
  height: 9vh;
}

.oversumo_logo {
  height: 40vh;
}

.cta {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  display: flex;
  background: white;
  margin: 60px;
  align-items: center;
}
.oversumo_text {
  h3 {
    font-size: 17px;
  }
  p {
    font-size: 12px;
  }
}
