/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* typography */

a {
  color: white;
  &a:hover {
  color: #2B2B2B;
  text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-family: "Roboto";
  font-size: 6vw;
  letter-spacing: -2px;
  font-weight: bold;
  margin-top: 50px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $light-gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
