/* universal */

body {
  padding-top: 10vh;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* typography */
a {
  color: $gray;
  &:hover {
  color: $gray;
  opacity: 0.6;
  text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-family: "Roboto";
  font-size: 5vw;
  letter-spacing: -2px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $light-gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
