<%= link_to 'https://oversumo.com/', :target => "_blank" do %>
  <div class="cta">
    <%= image_tag "oversumo.png", alt: "OVERSUMO", class: "oversumo_logo" %>
    <div class="oversumo_text">
      <h3>OVERSUMO</h3>
      <p>OVERSUMO is a Overwatch virtual coach which features detailed performance analysis, gameplay tips, and hero guides, making the app a powerful companion that gives players a competitive edge. Showing a strong viral growth, the app is geared towards all levels, from beginner to expert, with the goal of helping players master one of the youngest and fastest growing esport titles on the market.</p>
    </div>
  </div>
<% end %>
