<% provide(:title, "Overwatch Heroes") %>

<div class="container">
  <h1>Overwatch Heroes</h1>
  <p>All current Overwatch Heroes! Click on Hero for more Info</p>

  <div class="container">
  <%= form_tag(root_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Hero" %>
  <%= submit_tag "Search" %>
  <% end %>
  </div>

  <%= render 'heroes' %>

</div>
