<footer class="footer">
  <small>
    Coding Challenge by Lucca Kaiser
  </small>
  <nav>
    <ul>
      <li><%= link_to 'https://tococorocko.github.io/profile-page/', :target => "_blank" do%>
            <i class="fab fa-github"></i>
          <% end %>
      </li>
      <li><%= link_to 'https://www.linkedin.com/in/lucca-k-17b2a9146/', :target => "_blank" do%>
            <i class="fab fa-linkedin"></i></i> </li>
          <% end  %>
    </ul>
  </nav>
</footer>
